name: tests

on:
  push:
    branches: [ master ]
    paths-ignore: 
      - README.md
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:        
        php-versions: ['7.3', '7.4']
    name: PHP ${{ matrix.php-versions }}

    steps:
    - uses: actions/checkout@v2
      with:
        php-version: ${{ matrix.php-versions }}

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run test suite
      run: vendor/bin/phpunit --verbose
